In [1]:
import pandas as pd
pd.__version__

'1.1.5'

In [2]:
# Create pandas DataFrame from List
technologies = [ 
    ["Spark",20000, "30days"], 
    ["pandas",20000, "40days"], 
]
df = pd.DataFrame(technologies)
print(df)

        0      1       2
0   Spark  20000  30days
1  pandas  20000  40days

In [3]:
# Add Column & Row Labels to the DataFrame
column_names = ["Courses","Fee","Duration"]
row_label = ["a","b"]
df = pd.DataFrame(technologies,columns=column_names,index=row_label)
print(df)

  Courses    Fee Duration
a   Spark  20000   30days
b  pandas  20000   40days

In [6]:
# Show the data type of each column
df.dtypes

Courses     object
Fee          int64
Duration    object
dtype: object

In [8]:
# Show the data shape of the data frame
df.shape

(2, 3)

In [16]:
# set custom types to DataFrame
types={'Courses': str, 'Fee':float, 'Duration':str}
df = df.astype(types)
df.dtypes

Courses      object
Fee         float64
Duration     object
dtype: object

In [17]:
# Create DataFrame from Dictionary
technologies = {
    'Courses':["Spark","PySpark","Hadoop"],
    'Fee' :[20000,25000,26000],
    'Duration':['30day','40days','35days'],
    'Discount':[1000,2300,1500]
}
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000   35days      1500